{% extends "master.html" %}
{% set pageName='life' %}
{% block head %}
    <style type="text/css">
        .blue{background-color: #003bb3;}
        .red{background-color: #c43c35;}
        button.blue{color: #003bb3;}
    button.red{color: #c43c35;}


    </style>
{% endblock %}
{% block body %}
<h3>Conway's Game of Life</h3>

    {% raw %}
    <div ng-app="life">


    <div class="row-fluid" ng-controller="LifeCtrl">
        <table class="table table-bordered span10" >
        <tbody>
            <tr ng-repeat="list in matrix">
                <td ng-repeat="box in matrix[$index]" ng-click="box.value=box.value?0:player" ng-class="cssClass(box)">
                </td>
            </tr>
        </tbody>
    </table>

        <div class="span2 vertical well">
            <button ng-click="nextStep()" value="proximo" class="btn btn-primary">Next Turn</button>
            <button ng-click="start()" value="Iniciar" class="btn btn-success" ng-hide="running">Run</button>
            <button ng-click="stop()" value="Iniciar" class="btn btn-danger" ng-show="running">Stop</button>
            <span>Turn {{ playCount }}</span>
            <button ng-click="changePlayer()" value="Iniciar" class="btn" ng-class="player==1 ? 'blue':'red'">Change Player</button>
            <button ng-click="randomInit()" value="Aleatorio" class="btn" >Random Board</button>
            <button ng-click="init()" value="Aleatorio" class="btn" >Clear Board</button>
            <label>
                Vertical lines
                <input type="number" ng-model="VERTICAL" class="input-small">
            </label>
            <label>
                Horizontal lines
                <input type="number" ng-model="HORIZONTAL" class="input-small">
            </label>
            <label>
                Two players
                <input type="checkbox" ng-model="twoplayers" >
            </label>
            <div class="well">
                Rules
                <label>
                    Classic
                    <input type="radio" ng-model="modeName" value="classic" name="modeName">
                </label>
                <label>
                    Explosive
                    <input type="radio" ng-model="modeName" value="explosive" name="modeName">
                </label>
                <label>
                    Labyrinth
                    <input type="radio" ng-model="modeName" value="labyrinth" name="modeName">
                </label>
            </div>




        </div>
    </div>
</div>


{% endraw %}
<div class="offset1 span10">
<h3>What is this?</h3>
    <p>
Conway's Game of Life is a famous celular automata simulation. Basically, it's a board where each cell is alive or dead.
In our case, alive are colored cells, and dead are blank cells. The board follows some simple rules to calculate the next
state each turn.
</p>
<h4>Rules</h4>
<p>As said before, the game has three simple rules. It simulates a live being. These rules are: </p>
<ol>
    <li>If the cell is dead, it becomes alive only if it has 3 neighbors alive</li>
    <li>If the cell is alive, it will continue alive only if there are 2 or 3 neighbors alive</li>
    <li>If the cell is alive and there are more than 3 neighbors, it will die of overpopulation</li>
    <li>If the cell is alive and there are less than 2 neighbors, it will die of solitude</li>
</ol>
<h4>Variations</h4>
<p>
    I added some variations to the rules listed above. You can change them on the rules field. The availables rules are:
    <ol>
    <li><span class="bold">Classic: </span>2 or 3 neighbors keeps alive and 3 neighbors becomes alive</li>
    <li><span class="bold">Explosive: </span>2 or 3 neighbors keeps alive and 1 neighbors becomes alive</li>
    <li><span class="bold">Labyrinth: </span>2, 3,4 or 5 neighbors keeps alive and 3 neighbors becomes alive</li>
    </ol>

</p>
</div>
{% endblock %}
{% block bottom %}
    <script src="/static/js/life.js" type="text/javascript"> </script>
{% endblock %}