{% extends "master.html" %}
{% block head %}
    <style type="text/css">
        .blue{background-color: #003bb3;}
        .red{background-color: #c43c35;}
        button.blue{color: #003bb3;}
    button.red{color: #c43c35;}


    </style>
{% endblock %}
{% block body %}

    {% raw %}
    <div ng-app="life">


    <div class="row-fluid" ng-controller="LifeCtrl">
        <table class="table table-bordered span10" >
        <tbody>
            <tr ng-repeat="list in matrix">
                <td ng-repeat="box in matrix[$index]" ng-click="box.value=box.value?0:player" ng-class="cssClass(box)">
                </td>
            </tr>
        </tbody>
    </table>

        <div class="span2 vertical">
            <button ng-click="nextStep()" value="proximo" class="btn btn-primary">proximo</button>
            <button ng-click="start()" value="Iniciar" class="btn btn-success" ng-hide="running">Iniciar</button>
            <button ng-click="stop()" value="Iniciar" class="btn btn-danger" ng-show="running">Parar</button>
            <button ng-click="changePlayer()" value="Iniciar" class="btn" ng-class="player==1 ? 'blue':'red'">Trocar Player</button>
            <button ng-click="randomInit()" value="Aleatorio" class="btn" >Aleatorio</button>
            <button ng-click="init()" value="Aleatorio" class="btn" >Iniciar</button>
            <label>
                Vertical lines
                <input type="number" ng-model="VERTICAL" >
            </label>
            <label>
                Horizontal lines
                <input type="number" ng-model="HORIZONTAL" >
            </label>



        </div>
    </div>
</div>


{% endraw %}
{% endblock %}
{% block bottom %}
<script type="text/javascript">
    var app = angular.module('life',[]);
    app.service('patternService',function(){
        this.save = function(name,pattern){
            localStorage.setItem(name,JSON.stringify(pattern));
        };
        this.getAll = function(){

        };
    });
    app.controller('LifeCtrl',function($scope,$timeout){
        $scope.VERTICAL = 30;
        $scope.HORIZONTAL = 30;
        var INTERVAL=100;
        var cell = function(value){return {value:value>0 ? 1 : value<0 ? -1 : 0};};
        var classMap = {"1":'blue',"0":'',"-1":'red'};
        $scope.cssClass = function(box){
          return classMap[box.value];
        };

        $scope.init = function(valFunc){
                var matrix = new Array($scope.VERTICAL);
                for(var i=0;i<$scope.VERTICAL;i++){
                    matrix[i]= new Array($scope.HORIZONTAL);
                    for(var j=0;j<$scope.HORIZONTAL;j++)
                        if(valFunc)
                            matrix[i][j] = cell(valFunc(i,j));
                        else
                            matrix[i][j] = cell(0);
                }
                $scope.matrix = matrix;
            };
        $scope.init();
        var keep = {2:1,3:1};
        var sex = {3:1};
        var calculate = function(indexi,indexj){
            var matrix = $scope.matrix;
            var sum = 0;
            for(var i=-1;i<=1;i++){
                for(var j=-1;j<=1;j++){
                    var indi = indexi+i;
                    var indj = indexj+j;
                    if((i===0 && j===0) ||indi<0 || indj<0 || indi>=$scope.VERTICAL || indj>=$scope.HORIZONTAL)
                        continue;
                    sum+=matrix[indi][indj].value;
                }
            }
            var abs = Math.abs(sum);
            if(matrix[indexi][indexj].value==0)
                return sex[abs] ? cell(sum): cell(0);
            else
                return keep[abs]? cell(sum): cell(0);
        };

        $scope.nextStep = function(){

            for(var i=0;i<$scope.VERTICAL;i++){
                for(var j=0;j<$scope.HORIZONTAL;j++)
                    $scope.matrix[i][j].next = calculate(i,j);
            }
            for(var i=0;i<$scope.VERTICAL;i++){
                for(var j=0;j<$scope.HORIZONTAL;j++)
                    $scope.matrix[i][j] = $scope.matrix[i][j].next;
            }


        };
        $scope.running = false;
        $scope.start = function(){
                $scope.running = true;
                $scope.ticker = $timeout(function tick(){
                    $scope.nextStep();
                    $scope.ticker = $timeout(tick,INTERVAL);
                },INTERVAL);
        };
        $scope.stop = function(){
            $timeout.cancel($scope.ticker);
            $scope.running = false;
        }
        $scope.player = 1;
        $scope.changePlayer = function(){
            $scope.player = $scope.player==1 ? -1 :1;
        };
        $scope.randomInit = function(){
            $scope.init(function(){
                var v = Math.random();
                if(v<0.3) return -1;
                if(v<0.6) return 1;
                return 0;
            });

        };
    });
</script>
{% endblock %}